$color_1: white;
$color_2: whitesmoke;
$color_3: #fff;
$font-family_1: "Roboto", sans-serif;
$font-family_2: "Lily Script One", system-ui;
$font-family_3: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$background-color_1: black;
$background-color_2: #111;